@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}/* Centralizar o container de documentos */
#documentosContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -600px;
    margin-left: 250px;
}

/* Estilizar a lista de documentos */
#listaDocumentos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style-type: none;
    padding: 0;
    width:100%; /* Ajuste a largura conforme necessário */
    max-width: 800px; /* Ajuste a largura máxima conforme necessário */
}

/* Estilizar cada item da lista de documentos */
#listaDocumentos li {
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    flex: 0 1 calc(50% - 20px); /* Dois itens por linha */
    box-sizing: border-box;
    display: flex; /* Para alinhar o ícone e o nome na mesma linha */
    width: 200px;
    height: 100px; /* Ajuste a largura conforme necessário */
    font-size: large;
    position: relative; /* Para posicionar o menu de opções */
    
}

/* Estilizar o conteúdo do documento */
.documento-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinhar o conteúdo à esquerda */
    flex-grow: 1; /* Alinhar o conteúdo à esquerda */
}

/* Estilizar o nome do documento */
.documento-content .nome {
    font-weight: bold;
    margin-bottom: 10px;
}

/* Estilizar os links */
.documento-content a {
    margin: 5px 0;
    text-decoration: none;
    color: #007bff;
}

.documento-content a:hover {
    text-decoration: underline;
}

.documento-actions {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 10px; /* Espaço entre os ícones */
}

.documento-actions a {
    color: #007bff;
    font-size: 20px; /* Ajuste o tamanho conforme necessário */
}

.documento-actions a:hover {
    color: #0056b3;
}

.documento-icon {
    width: 20px; /* Ajuste o tamanho conforme necessário */
    height: 20px; /* Ajuste o tamanho conforme necessário */
    margin-right: 10px; /* Espaço entre o ícone e o nome */
}

/* Estilizar o ícone do menu de opções */
.options-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Estilizar o menu de opções */
.options-menu {
    display: none;
    position: absolute;
    top: 30px;
    right: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.options-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.options-menu a:hover {
    background-color: #f9f9f9;
}

/* Estilizar o modal */
.modal {
    display: none; /* Escondido por padrão */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Estilizar o conteúdo do modal */
.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 45%;
    max-width: 500px;
    border-radius: 5px;
}

/* Estilizar o botão de fechar */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Estilizar os botões */
.button-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.button-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button-container .salvar {
    padding: 12px;
  background-color: #0BA200;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 48%; /* Largura dos botões */
  height: 45px; /* Garantindo que a altura é a mesma */
  display: flex;
  align-items: center; /* Centraliza verticalmente o texto */
  justify-content: center; /* Centraliza o texto horizontalmente */
}


.button-container .salvar:hover {
    background-color: #0056b3;
}

.button-container .cancelar {
    padding: 12px;
    background-color: white;
    color: red;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* margin-top: 1rem; */
    width: 48%; /* Largura dos botões */
    height: 45px;  /* Garantindo que a altura é a mesma */
    display: flex;
    align-items: center; /* Centraliza verticalmente o texto */
    justify-content: center; /* Centraliza o texto horizontalmente */
}

.button-container .cancelar:hover {
    background-color: #de4747;
}